SITE_URL=https://dafalabs.com
SMTP_SERVER=mail.dafalabs.com
SMTP_PORT=587
SENDER_EMAIL=noreply@dafalabs.com
SENDER_MAIL_PASSWORD=dafalabs
RECIPIENT_EMAIL=
RATE_LIMIT_MAX=5
RATE_LIMIT_WINDOW=3600
POSTGRES_USER=dafalabs
POSTGRES_DB=dafalabs
POSTGRES_PASSWORD=dafalabsdbpass
SESSION_SECRET=dafalabssecret
AUTO_REPLY_MAX=2
AUTO_REPLY_WINDOW=86400
LOGIN_MAX=8
LOGIN_WINDOW=900
